*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .page-wrapper{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 5%;
}
.header-wrapper{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid  #aaafb4;
    /* border: 2px solid black; */
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.header-wrapper h1{
    width: 30%;
    /* border: 1px solid black; */
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
}
.navigation-wrapper{
    width: 70%;
    /* border: 1px solid black; */
    flex-grow: 1;
}
.mobile{
    display: none;
}
.navigation-mobile-icon{
    display: none;
    width: 70%;
    /* border: 1px solid black; */
    text-align: right;
    padding-right: 30px;
}
.navigation-mobile-icon i{
    font-size: 30px;
    color:  #aaafb4;
}
.navigation-list{
    list-style: none;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}
.navigation-list li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #aaafb4;
}
main{
    width: 100%;
    height: 65%;
    display: flex;
}
.container-wrapper{
    width: 35%;
}
aside{
    width: 30%;
}
.aside-wrapper{
    /* border: 3px solid black; */
    padding-left: 30px;
    padding-right: 30px;
}
.text-content-wrapper{
    margin: 100px 0 0;
    font-family: 'Frank Ruhl Libre', serif;    
}
.text-content-wrapper h2{
    font-size: 100px;
    line-height: 90px;
    font-weight: 900;
    letter-spacing: 7px;
}
.text-content-wrapper h3{
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}
.text-content-wrapper h3 span{
    display: block;
}
.text-content-wrapper p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin: 30px 0;
}
.text-content-wrapper p span{
    display: block;
}
.arrows-wrapper{
    margin-bottom: 30px;
}
.arrows-wrapper i{
    border: 1px solid #f4dfc4;
    padding: 0 25px;
    text-align: center;
    color: #f4dfc4;
    font-size: 50px;
    margin-right: 20px;
}
.arrows-wrapper i:nth-child(1){
    padding-left: 18.75px;
}
.arrows-wrapper i:nth-child(2){
    padding-right: 18.75px;
}
.image-wrapper{
    width: 70%;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.offer-wrapper{
    background-color: black;
    color: white;
    width: 27%;
    position: absolute;
    bottom: 0;
    left: 27%;
    z-index: 100;
}
.offer-content-wrapper{
    margin: 0 60px 40px 25px;
}
.offer-content-wrapper div, h4{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 25px;
    margin: 25px 0 15px;
}
.offer-content-wrapper p{
    font-family: 'Syne', sans-serif;
    font-size: 18px;
}
.offer-content-wrapper span{
    display: block;
}
/* .offer-wrapper width=27% and margin left=27% =>reservation-wrapper width=46% */
.reservation-wrapper{
    background-color: #f4dfc4;
    color: white;
    display: inline-block;
    width: 46%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.reservation-content-wrapper{
    margin-left: 25px;
    margin-top: 40px;
    margin-right: 20px;
}
.reservation-content-wrapper p{
    font-family: 'Syne', sans-serif;
    font-size: 18px;
}
button{
    width: 80px;
    height: 50px;
    border: 1px solid white;
    margin: 20px 0 20px -5px;
    background-color: transparent;
}
button a{
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

@media (max-width: 599px){
    body{
        overflow-x: hidden;
    }
    header{
        height: 10%;
    }
    .header-wrapper h1{
        width: 100%;
    }
    .navigation-wrapper{
        width: 100%;      
    }
    .mobile{
        display: block;
    }
    .navigation-list{
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #000;
        z-index: 300;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .navigation-list li{
        padding: 20px 30px;
    }
    .navigation-list li a{
        font-family: 'Lato', sans-serif;
        font-size: 30px;  
    }
    .social-media{
        border: 1px solid #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 10%;
        text-align: center;
    }
    .social-media i{
        font-size: 30px;
    }
    .social-media.facebook{
        left: 50%;
    }
    
    .navigation-mobile-icon{
        display: block;
        width: 50%;
    }
    .activating-navigation-list{
        transform: translateX(0%);
    }
    /* .hidden{
        display: none;
    } */
    main {
        flex-direction: column-reverse;
        height: 70%;
    }
    .container-wrapper{
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
    }
    .image-wrapper{
        width: 100%;
        height: 55%;
        margin: 0;
    }
    .aside-wrapper{
        width: 50%;
        position: relative;       
    }
    .text-content-wrapper {
        margin: 10px 0 0;
    }
    .text-content-wrapper h2 {
        font-size: 35px;
        line-height: 35px;
    }
    .text-content-wrapper h3{
        font-size: 20px;
        line-height: 20px;
    }
    .text-content-wrapper p{
        margin: 15px 0;
        font-size: 13px;
    }
    .text-content-wrapper p span{
        display: inline;
    }
    .arrows-wrapper{
        display: none;
    }
    .offer-wrapper{
        position: relative;
        width: 50%;
        height: 100%;
        left: 0;   
    }
    .offer-content-wrapper{
        font-size: 13px;
        margin: 10px;
    }
    .offer-content-wrapper div, h4{
        margin-top: 15px;
        font-size: 25px;
    }
    .offer-content-wrapper p{  
        font-size: 13px;
    }
    .reservation-wrapper{
        display: block;
        width: 100%;
        height: 25%;
        box-sizing: border-box;
        z-index: 200;
    }
    .reservation-content-wrapper{  
        margin-top: 0px;
    }
    .reservation-content-wrapper h4{
        line-height: 20px ;
    }
    button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}